# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:air
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:air
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        ic2:reinforced_door
        randomthings:onlinedetector
        randomthings:chatdetector
        randomthings:contactbutton
        randomthings:contactlever
        randomthings:slimecube
        randomthings:globalchatdetector
        toughasnails:temperature_coil
        appliedenergistics2:security_station
        appliedenergistics2:quartz_growth_accelerator
        appliedenergistics2:crafting_unit
        appliedenergistics2:crafting_accelerator
        appliedenergistics2:crafting_storage_1k
        appliedenergistics2:crafting_storage_4k
        appliedenergistics2:crafting_storage_16k
        appliedenergistics2:crafting_storage_64k
        appliedenergistics2:crafting_monitor
        appliedenergistics2:molecular_assembler
        enderio:block_dark_steel_door
        enderio:block_self_resetting_lever5
        enderio:block_self_resetting_lever10
        enderio:block_self_resetting_lever30
        enderio:block_self_resetting_lever60
        enderio:block_self_resetting_lever300
        enderio:block_self_resetting_lever5i
        enderio:block_self_resetting_lever10i
        enderio:block_self_resetting_lever30i
        enderio:block_self_resetting_lever60i
        enderio:block_self_resetting_lever300i
        enderio:block_painted_fence_gate
        enderio:block_painted_wooden_door
        enderio:block_painted_iron_door
        enderio:block_painted_dark_steel_door
        tconstruct:slime_channel
        engineersdoors:fencegate_aluminium
        engineersdoors:fencegate_steel
        engineersdoors:fencegate_treated
        engineersdoors:door_concrete
        engineersdoors:door_concrete_ornate
        engineersdoors:door_concrete_reinforced
        engineersdoors:door_steel
        engineersdoors:door_steel_ornate
        engineersdoors:door_steel_reinforced
        engineersdoors:door_treated
        engineersdoors:door_treated_ornate
        engineersdoors:door_treated_reinforced
        icbmclassic:glasspressureplate
        icbmclassic:glassbutton
        integrateddynamics:menril_door
        prefab:block_boundary
        tcomplement:alloy_tank
        aether_legacy:enchanter
        aether_legacy:freezer
        aether_legacy:incubator
        aether_legacy:skyroot_fence_gate
        davincisvessels:crate_wood
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


