# Client Side
/.mixin.out
/asm
/assets
/astralsorcery
/betweenlands_gallery
/craftpresence
/downloads
/fonts
/journeymap
/llibrary
/local
/logs
/mods/*.jar
/mods/1.12.2
/mods/memory_repo
/mods/hats/**/*.tbl
/patchouli_books
/resourcepacks
/saves
/schematics
/screenshots
/snapshots-server
/TombManyGraves
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
knownkeys.txt
minecraftinstance.json
*.dll
options.txt
optionsof.txt
patchouli_data.json
servers.dat
usercache.json
usernamecache.json

# Server Side
/ServerSide/mods/*.jar
/ServerSide/mods/*.disabled
/ServerSide/mods/1.12.2
/ServerSide/mods/memory_repo
/ServerSide/mods/hats/**/*.tbl
/ServerSide/.mixin.out
/ServerSide/asm
/ServerSide/astralsorcery
/ServerSide/journeymap
/ServerSide/llibrary
/ServerSide/local
/ServerSide/logs
/ServerSide/TombManyGraves
/ServerSide/eula.txt
/ServerSide/banned-ips.json
/ServerSide/banned-players.json
/ServerSide/ops.json
/ServerSide/whitelist.json
/ServerSide/world
