# Client Side
/.mixin.out/
/asm/
/assets/
/astralsorcery/
/betweenlands_gallery/
/craftpresence/
/crash-reports/
/downloads/
/fonts/
/journeymap/
/llibrary/
/local/
/logs/
/mods/*.jar
/mods/1.12.2
/mods/memory_repo
/mods/hats/**/*.tbl
/mods/OptiFine_1.12.2_HD_U_G5_MOD.jar
/mputils/
/patchouli_books/
/resourcepacks/
/saves/
/screenshots/
/snapshots-server/
/TombManyGraves/
/config/AppliedEnergistics2/VersionChecker.cfg
/config/AppliedEnergistics2/items.csv
/config/agricraft/json/*
!/config/agricraft/json/defaults/
/config/brandon3055/ProjectIntelligence/ModDocs/
/config/brandon3055/ProjectIntelligence/DocUpdater/
/config/brandon3055/ProjectIntelligence/PackDocs/
/config/brandon3055/ResourceCache/
/config/splash.properties
/config/jei/bookmarks.ini
/config/jei/worldSettings.cfg
.curseclient
.ReAuth.cfg
BotaniaVars.dat
crafttweaker.log
*.dll
knownkeys.txt
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
minecraftinstance.json
mtservers.dat
roots.log
servers.dat
servers.dat_old
usercache.json
usernamecache.json

# Server Side
/ServerSide/mods/*.jar
/ServerSide/mods/*.disabled
/ServerSide/mods/1.12.2
/ServerSide/mods/memory_repo
/ServerSide/mods/hats/**/*.tbl
/ServerSide/.mixin.out
/ServerSide/asm
/ServerSide/astralsorcery
/ServerSide/journeymap
/ServerSide/llibrary
/ServerSide/local
/ServerSide/logs
/ServerSide/TombManyGraves
/ServerSide/eula.txt
/ServerSide/banned-ips.json
/ServerSide/banned-players.json
/ServerSide/ops.json
/ServerSide/whitelist.json
/ServerSide/world
/ServerSide/config/Discord-Integration.toml
